.jet-review {
	&__field {
		&-heading {
			display: flex;
			align-items: center;
			.jet-layout-stars:not(.jet-stars-position-left) & {
				justify-content: space-between;
			}
		}
		&-val {
			margin-left: 5px;
		}
	}
	&__stars {
		display: inline-flex;
		position: relative;
		line-height: 1em;
		.jet-stars-position-left & {
			order: -1;
			margin-right: 15px;
		}
		&-filled,
		&-empty {
			white-space: nowrap;
			overflow: hidden;
		}
		&-filled {
			position: absolute;
			top: 0;
			left: 0;
		}
		&-empty {
			position: absolute;
			top: 0;
			right: 0;
			transform: scale( -1, 1 );
		}
		&-adjuster {
			opacity: 0;
		}
	}
	&__progress {
		box-sizing: border-box;
		width: 100%;
		&-bar {
			text-align: right;
			box-sizing: border-box;
			padding: 5px 10px;
		}
	}
	&__summary {
		display: flex;
		&.jet-review-summary-bottom,
		&.jet-review-summary-top {
			flex-wrap: wrap;
		}
		@media ( max-width: 1024px ) {
			flex-wrap: wrap;
		}
		&-content {
			flex: 1 1 auto;
			box-sizing: border-box;
			margin-top: 10px;
			padding: 20px;
			background: #fafafa;
			.jet-review-summary-bottom &,
			.jet-review-summary-top & {
				flex: 1 1 100%;
				width: 100%;
			}
		}
		&-data {
			box-sizing: border-box;
			margin-top: 10px;
			padding: 20px;
			background: #eee;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.jet-review-summary-left & {
				order: -1;
			}
			.jet-review-summary-top & {
				flex: 1 1 100%;
				width: 100%;
				order: -1;
			}
			.jet-review-summary-bottom & {
				flex: 1 1 100%;
				width: 100%;
			}
			.jet-review-summary-align-left & {
				align-items: flex-start;
			}
			.jet-review-summary-align-center & {
				align-items: center;
			}
			.jet-review-summary-align-right & {
				align-items: flex-end;
			}
			@media ( max-width: 1024px ) {
				flex: 1 1 100%;
				width: 100%;
			}
		}
	}
}