.jet-review-items .cheryr-ui-repeater-content-box .cherry-ui-container {
	display: flex;
	align-items: center;
}
.jet-review-items .cheryr-ui-repeater-content-box .cherry-label {
	width: 15%;
	display: block;
}
.jet-review-items .cheryr-ui-repeater-content-box input {
	flex: 1 1 auto;
}
.jet-review-items .cheryr-ui-repeater-content-box .cherry-ui-container {
	margin-bottom: 10px;
}